.carousel-container 
{
    height: 450px;
    position: relative;
    overflow: hidden;
    border: 2px solid black;
}

.carousel-slide img 
{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.prev-btn, .next-btn 
{
    position: absolute;
    cursor: pointer;
    top: 50%;
    width: 60px;
    padding: 5px;
    color: white;
    border: 2px solid grey;
    background-color: black;
}

.prev-btn 
{
    left: 2%;
}

.next-btn 
{
    right: 2%;
}
